NEXT_PUBLIC_SUPABASE_URL=https://xmekizajjewqituvnrgk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhtZWtpemFqamV3cWl0dXZucmdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE0OTc2NjEsImV4cCI6MjA2NzA3MzY2MX0._00-qZCgu5UUQycCPYBQ0ZNPPMpNHUzpPtwWzYi5M7E
NEXT_REDIRECT_URL=http://localhost:3000
TBR_BOOK_PROVIDER_URL=https://matheus98rocha-tbr-book-provider.hf.space

REGISTER_INVITE_SECRET=7e13e9be363ab9250376f7f20a0e6fdfd98d843cbc7b6e352c079099db5fedf3

EXPO_PUBLIC_SUPABASE_URL=https://xmekizajjewqituvnrgk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhtZWtpemFqamV3cWl0dXZucmdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE0OTc2NjEsImV4cCI6MjA2NzA3MzY2MX0._00-qZCgu5UUQycCPYBQ0ZNPPMpNHUzpPtwWzYi5M7E
EXPO_PUBLIC_API_BASE=https://nosso-tbr.vercel.app

